@import url('./root.css');

.background-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--black);
  z-index: 0;
  width: 80ch;
  height: 15lh;

  opacity: 0;
  visibility: hidden;

  animation: fadeInBg 1.5s ease-in-out 9s forwards;
}

@keyframes fadeInBg {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes showAfterDelay {
  0%, 99.99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-hidden {
  display: inline-block;
  background-color:var(--black);
}

/*.top-section {*/
/**/
/*display: flex;*/
/*  justify-content: center;*/
/*}*/
.target-text {
  color: white;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.target-text.visible {
  opacity: 1;
}

.slime span{
  animation: fadeIn 3s ease-in forwards;
  color: var(--dark-green);
}

.slime {
  /*will isolate and  increase performancn*/
  contain: strict;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1; /* Send behind other content */
}


.mrqdt-color-1 {
  opacity: 0;

  color: var(--light-black);
  animation: fadeIn 1.5s ease-in-out 9s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.mrqdt-color-2{
  color: var(--dark-green);
  /* opacity: 0; */
}
.mrqdt-color-3{
  color: var(--light-green);
  /* opacity: 0; */
}


.ascii-art {
  /*moves the animation to the gpu and prepares for scaling */
  transform: translate3d(0, 0, 0) scale(1);
  will-change: transform;
  margin-top: 8px;
  position: relative;
  color: #39ff14;
  font-size: inherit;
  white-space: pre;
  text-align: center;
  transform-origin: center;
  opacity: 0;
  z-index: 100;
  animation:
    fadeInLogo 3s cubic-bezier(0.4, 0, 0.4, 1) forwards,
    grow 1s ease-out 3s forwards,
    moveBack 1s ease-in-out 6.8s forwards;
}



.ascii-art span {
  background-color: black;
}


.fade-in {
  opacity: 0;
  animation: fadeInBackground 4s ease-in forwards;
}

@keyframes fadeInBackground {
  to {
    opacity: 1;
  }
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform:
      translate(calc(50vw - 50%), calc(50vh - 50% - var(--half-height)))
      scale(0.3);
  }

  to {
    opacity: 1;
    transform:
      translate(calc(50vw - 50%), calc(50vh - 50% - var(--half-height)))
      scale(0.3);
  }
}

@keyframes fadeIn {
  to { opacity: 1; }
}



@keyframes grow {
  from {
    transform:
      translate(calc(50vw - 50%), calc(50vh - 50% - var(--half-height)))
      scale(0.3)
      rotate(0deg);
  }
  to {
    transform:
      translate(calc(50vw - 50%), calc(50vh - 50% - var(--half-height)))
      scale(1)
      rotate(360deg);
  }
}

@keyframes moveBack {
  from {
    transform:
      translate(calc(50vw - 50%), calc(50vh - 50% - var(--half-height)))
      scale(1);
  }
  to {
    transform:
      translate(0, 0)
      scale(1);
  }
}

    @keyframes fadeSlideScale {
        0% {
            opacity: 0;
            transform: translateY(200%) scale(0.5);
        }
        50% {
            opacity: 1;
            transform: translateY(0%) scale(0.5);
        }
        100% {
            opacity: 1;
            transform: translateY(0%) scale(1);
        }
}

  @media (max-width: 500px) {

  .ascii-art{

    line-height: 9px !important;
  }
    .ascii-art * {
      font-size: 10px;
    }
  }

