@import url('./root.css');



    .binaryContainer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .binary {
      z-index: 100;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }

    .leftBinary {
      text-align: right;
    }

    .rightBinary {
      text-align: left;
    }

    .rightChars {
      width: 100vw;
      z-index: -9;
     transform:translateX(3px) translateY(20.9ch);
      position: absolute;
      top: 0px;
     right: 50vw;
    }


    .leftChars {

      width: 50vw;
      z-index: -9;
      transform: translateX(3px) translateY(20.9ch);
      position: absolute;
      top: 0px;
       left: 50vw;
    }




.fade-in-fast{

}




/*reverses the insert char animation */
.mirrored {
  transform: scaleX(-1);
  direction: rtl; /* optional, can help with layout direction if needed */
}

/*flip each letter back so they are not mirrored but ony the direction */
.mirrored span {
  transform: scaleX(-1);
  display: inline-block;
}


.link-logo-color-1{
   color: var(--dark-turqoise);
}
.link-logo-color-2{

   color: var(--light-blue);

}
.link-logo-color-3{

   color: var(--white);
}
.link-logo-color-4{

   color: var(--turqoise);
}
.link-logo-color-5{

   color: var(--light-blue);
}
.link-logo-color-6{
   color: var(--yellow);
}
.link-logo-color-7{
   color: var(--white);
}

.link-logo-color-8{
   color: var(--blue);
}


.bg-logo-1{
    /*background-color: var(--purple);*/
    color: var(--dark-turqoise);
}

.bg-logo-2{
    background-color: var(--pink);
    color: var(--grey);
}

.bg-logo-3{
    background-color: var(--grey);
    color: var(--yellow);
}

/*@media (max-width: 768px) {*/
/*    .center-pre span{*/
/*      font-size: 12px !important;*/
/*    }*/

