/*:root {*/
/*--black: #000000;*/
/*--light-black:#555555;*/
/*--yellow: #FFFF55;*/
/*--dark-grey: #AAAAAA;*/
/*--grey: #bebdbd;*/
/*--light-green: #55FF55;*/
/*--dark-green: #00AA00;*/
/*--orange: #FF5555;*/
/*--dark-turqoise: #0/0AAAA;*/
/*--turqoise: #55FFFF;*/
/*--white: white;*/
/*--pink: #FD65FD;*/
/*--ascii-arena: #070766;*/
/*--grey-ascii-arena: #A1A1A1;*/
/*--light-grey: #FFFFFF;*/
/*--light-blue: #5555FF;*/
/*--blue: #0000AA;*/
/*--half-height: 7ch;*/
/*--transparent: transparent;*/
/*}*/


@import url('./root.css');



    .binaryContainer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .binary {
      z-index: 100;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      color: #0f0;
    }

    .leftBinary {
      text-align: right;
    }

    .rightBinary {
      text-align: left;
    }

    .rightChars {

      transform: translate3d(0, 0, 0);
      width: 100vw;
      z-index: -9;
      transform: translateY(20ch);
      position: absolute;
      top: 0px;
     right: 50vw;
    }


    .leftChars {

      transform: translate3d(0, 0, 0);
      width: 50vw;
      z-index: -9;
      transform: translateY(20ch);
      position: absolute;
      top: 0px;
       left: 50vw;
    }




.fade-in-fast{

}




/*reverses the insert char animation */
.mirrored {
  transform: scaleX(-1);
  direction: rtl; /* optional, can help with layout direction if needed */
}

/*flip each letter back so they are not mirrored but ony the direction */
.mirrored span {
  transform: scaleX(-1);
  display: inline-block;
}


.link-logo-color-1{
   color: var(--dark-turqoise);
}
.link-logo-color-2{

   color: var(--light-blue);

}
.link-logo-color-3{

   color: var(--white);
}
.link-logo-color-4{

   color: var(--turqoise);
}
.link-logo-color-5{

   color: var(--light-blue);
}
.link-logo-color-6{
   color: var(--yellow);
}
.link-logo-color-7{
   color: var(--white);
}

.link-logo-color-8{
   color: var(--blue);
}


.bg-logo-1{
    /*background-color: var(--purple);*/
    color: var(--dark-turqoise);
}

.bg-logo-2{
    background-color: var(--pink);
    color: var(--grey);
}

.bg-logo-3{
    background-color: var(--grey);
    color: var(--yellow);
}


