
:root {
--pink: #FF55FF;
--purple:  #AA00AA;
--black: #000000;
--light-black:#555555;
--yellow: #FFFF55;
--dark-grey: #AAAAAA;
--grey: #bebdbd;
--light-green: #55FF55;
--dark-green: #00AA00;
--orange: #FF5555;
--dark-turqoise: #0/0AAAA;
--turqoise: #55FFFF;
--white: white;
--pink: #FD65FD;
--ascii-arena: #070766;
--grey-ascii-arena: #A1A1A1;
--light-grey: #FFFFFF;
--light-blue: #5555FF;
--blue: #0000AA;
--half-height: 7ch;
--transparent: transparent;
}
