/* Design tokens. Colors follow the 16-color CGA palette. */
:root {
  /* palette */
  --black: #000000;
  --light-black: #555555;
  --dark-grey: #aaaaaa;
  --grey: #bebdbd;
  --white: white;
  --blue: #0000aa;
  --light-blue: #5555ff;
  --dark-turquoise: #00aaaa;
  --turquoise: #55ffff;
  --dark-green: #00aa00;
  --light-green: #55ff55;
  --purple: #aa00aa;
  --pink: #fd65fd;
  --orange: #ff5555;
  --yellow: #ffff55;

  /* spacing */
  --small-pad: 2ch;
}
